	<!DOCTYPE web-app PUBLIC
	 "-//Sun Microsystems, Inc.//DTD Web Application 2.3//EN"
	 "http://java.sun.com/dtd/web-app_2_3.dtd" >
	
	<web-app>
	  <display-name>Archetype Created Web Application</display-name>
	  <servlet>
	  	<servlet-name>indextController</servlet-name>
	  	<display-name>indextController</display-name>
	  	<description></description>
	  	<servlet-class>com.teo.hell_web_app.controller.indextController</servlet-class>
	  </servlet>
	  
	  
	  
	<!--   <taglib>	
	    <taglib-uri>http://java.sun.com/jsp/jstl/core</taglib-uri>
	    <taglib-location>/WEB-INF/lib/c.tld</taglib-location>
	</taglib>
	<taglib>
	    <taglib-uri>http://java.sun.com/jsp/jstl/functions</taglib-uri>
	    <taglib-location>/WEB-INF/lib/fn.tld</taglib-location>
	</taglib> -->
	  
	  
	  
	  
	  <servlet-mapping>
	  	<servlet-name>indextController</servlet-name>
	  	<url-pattern>/indextController</url-pattern>
	  </servlet-mapping>
	  <welcome-file-list>
	  	<welcome-file>home</welcome-file>
	  </welcome-file-list>
	  
	    <servlet>
	  	<servlet-name>JerseyRESTService</servlet-name>
	  	<servlet-class>org.glassfish.jersey.servlet.ServletContainer</servlet-class>
	  	<init-param>
	  		<param-name>jersey.config.server.provider.packages</param-name>
	  		<param-value>com.teo.hell_web_app.resful</param-value>
	  	</init-param>
	  	<load-on-startup>1</load-on-startup>
	  </servlet>
	  
	  <servlet-mapping>
	  	<servlet-name>JerseyRESTService</servlet-name>
	  	<url-pattern>/rest/*</url-pattern>
	  </servlet-mapping>
	  
	  
	  
	 
   
	  
	  
	</web-app>
