<!DOCTYPE web-app PUBLIC
 "-//Sun Microsystems, Inc.//DTD Web Application 2.3//EN"
 "http://java.sun.com/dtd/web-app_2_3.dtd" >

<web-app>
  <display-name>Archetype Created Web Application</display-name>
  <servlet>
  	<servlet-name>IndexController</servlet-name>
  	<display-name>IndexController</display-name>
  	<description></description>
  	<servlet-class>com.cgm.hello_web_app.controller.IndexController</servlet-class>
  </servlet>
  <servlet-mapping>
  	<servlet-name>IndexController</servlet-name>
  	<url-pattern>/IndexController</url-pattern>
  </servlet-mapping>
  
  <welcome-file-list>
    <welcome-file>home</welcome-file>
    <welcome-file>shop</welcome-file>
    <welcome-file>shop2</welcome-file>
    <welcome-file>shop3</welcome-file>
    <welcome-file>shop4</welcome-file>
    <welcome-file>shop5</welcome-file>
    <welcome-file>user-login</welcome-file>
</welcome-file-list>
  
   <servlet>
  	<servlet-name>JerseyRESTService</servlet-name>
  	<servlet-class>org.glassfish.jersey.servlet.ServletContainer</servlet-class>
  	<init-param>
  		<param-name>jersey.config.server.provider.packages</param-name>
  		<param-value>com.cgm.hello_web_app.restful</param-value>
  	</init-param>
  	<load-on-startup>1</load-on-startup>
  </servlet>
   
   <servlet>
   	<servlet-name>indexshopcontroller1</servlet-name>
   	<display-name>indexshopcontroller1</display-name>
   	<description></description>
   	<servlet-class>com.cgm.hello_web_app.controller.indexshopcontroller1</servlet-class>
   </servlet>
   <servlet>
   	<servlet-name>usercontrolll</servlet-name>
   	<display-name>usercontrolll</display-name>
   	<description></description>
   	<servlet-class>com.cgm.hello_web_app.controller.usercontrolll</servlet-class>
   </servlet>
   <servlet>
   	<servlet-name>outusercontroll</servlet-name>
   	<display-name>outusercontroll</display-name>
   	<description></description>
   	<servlet-class>com.cgm.hello_web_app.controller.outusercontroll</servlet-class>
   </servlet>
   <servlet>
   	<servlet-name>sigupcontrolller</servlet-name>
   	<display-name>sigupcontrolller</display-name>
   	<description></description>
   	<servlet-class>com.cgm.hello_web_app.controller.sigupcontrolller</servlet-class>
   </servlet>
   <servlet>
   	<servlet-name>Addtocart</servlet-name>
   	<display-name>Addtocart</display-name>
   	<description></description>
   	<servlet-class>com.cgm.hello_web_app.controller.Addtocart</servlet-class>
   </servlet>
   <servlet>
   	<servlet-name>admintest</servlet-name>
   	<display-name>admintest</display-name>
   	<description></description>
   	<servlet-class>com.cgm.hello_web_app.controller.admintest</servlet-class>
   </servlet>
   <servlet>
   	<servlet-name>quantity</servlet-name>
   	<display-name>quantity</display-name>
   	<description></description>
   	<servlet-class>com.cgm.hello_web_app.controller.quantity</servlet-class>
   </servlet>
   <servlet>
   	<servlet-name>removecontrollller</servlet-name>
   	<display-name>removecontrollller</display-name>
   	<description></description>
   	<servlet-class>com.cgm.hello_web_app.controller.removecontrollller</servlet-class>
   </servlet>
   <servlet>
   	<servlet-name>ProductAdd</servlet-name>
   	<display-name>ProductAdd</display-name>
   	<description></description>
   	<servlet-class>com.admin.servlet.ProductAdd</servlet-class>
   </servlet>
   <servlet>
   	<servlet-name>Allproduct</servlet-name>
   	<display-name>Allproduct</display-name>
   	<description></description>
   	<servlet-class>com.admin.servlet.Allproduct</servlet-class>
   </servlet>
   <servlet>
   	<servlet-name>ProductEdit</servlet-name>
   	<display-name>ProductEdit</display-name>
   	<description></description>
   	<servlet-class>com.admin.servlet.ProductEdit</servlet-class>
   </servlet>
   <servlet>
   	<servlet-name>deleteproduct</servlet-name>
   	<display-name>deleteproduct</display-name>
   	<description></description>
   	<servlet-class>com.admin.servlet.deleteproduct</servlet-class>
   </servlet>
   <servlet>
   	<servlet-name>Ordernow</servlet-name>
   	<display-name>Ordernow</display-name>
   	<description></description>
   	<servlet-class>com.cgm.hello_web_app.controller.Ordernow</servlet-class>
   </servlet>
  
  <servlet-mapping>
  	<servlet-name>JerseyRESTService</servlet-name>
  	<url-pattern>/rest/*</url-pattern>
  </servlet-mapping>
  
  <servlet-mapping>
  	<servlet-name>indexshopcontroller1</servlet-name>
  	<url-pattern>/indexshopcontroller1</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
  	<servlet-name>usercontrolll</servlet-name>
  	<url-pattern>/usercontrolll</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
  	<servlet-name>outusercontroll</servlet-name>
  	<url-pattern>/outusercontroll</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
  	<servlet-name>sigupcontrolller</servlet-name>
  	<url-pattern>/sigupcontrolller</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
  	<servlet-name>Addtocart</servlet-name>
  	<url-pattern>/Addtocart</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
  	<servlet-name>admintest</servlet-name>
  	<url-pattern>/admintest</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
  	<servlet-name>quantity</servlet-name>
  	<url-pattern>/quantity</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
  	<servlet-name>removecontrollller</servlet-name>
  	<url-pattern>/removecontrollller</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
  	<servlet-name>ProductAdd</servlet-name>
  	<url-pattern>/ProductAdd</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
  	<servlet-name>Allproduct</servlet-name>
  	<url-pattern>/Allproduct</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
  	<servlet-name>ProductEdit</servlet-name>
  	<url-pattern>/ProductEdit</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
  	<servlet-name>deleteproduct</servlet-name>
  	<url-pattern>/deleteproduct</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
  	<servlet-name>Ordernow</servlet-name>
  	<url-pattern>/Ordernow</url-pattern>
  </servlet-mapping>
  
</web-app>
